    *{
    margin: 0%;
    padding: 0%;
    
    }

.navbar{
    background-color: white;
    
    box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;

 
    }
    .active {
        background-color:lightblue;  
        }

ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
ul>li{
    list-style: none;
    line-height: 2.5rem;
    
    }
   
    
ul>li>a{
    color: black;
  
    padding: 1rem;
}
ul>li>a:hover{
    text-decoration: none;
    color: black;


}  
.container-fluid{

display: flex;
justify-content: space-between;
width: 50%;

padding-left: 0px!important;
margin: 0%!important;
padding-right: 0%!important;
}

.container__left{
    width: 10rem;
    box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
    height: 100vh;
    
} 
.container__right{
    padding: .75rem;
    padding: 1rem;

}


.profile{
    width: 40px;height: 40px;border-radius: 40px;
}
.container__body{
    
}
.search{
    
    
    width: 100%;
    display: flex;
    padding: 10px;
    justify-content: space-between;
}
.search__product{
    height: 40px;
        padding: 10px;
    border-radius:5px;
    border: 1px solid lightblue;
}
.search__customer{
    padding: 10px;
    height: 40px;
    border-radius:5px;
    border: 1px solid lightblue;
}
.search__date{
    padding: 10px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid lightblue;
}
*:focus {
    outline: none;
}