.form{
    width: 30%;
    
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.form__heading{
  padding: .3rem;
  display: flex;
  justify-content: center;
  background-color: lightblue;
}
.form__content{
    padding: 1rem;
}
.form__login{
    background-color: lightblue;
    padding: .3rem;
    margin-top: 1rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.form__login__text{
    border: none;
    background-color: lightblue!important;
}
.login__body{
    display: flex;
    margin-top: 10%;
    justify-content: center;
    align-items:center ;
}