{% extends 'accounts/base.html'%}
{% block body %}

<div class="form">
    
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            {% if message.tags == 'error'%}
            <li class="error alert">{{message}}</li>
            {% else %}
            <li class="success -alert">{{message}}</li>
            {% endif %}
            {% endfor %}
        </ul>
        {% endif %}
    
 
    <div class="form__heading">
        <h4>Change Password</h4>
    </div>

    <div class="form__content">
        <form action="{% url 'changePassword' %}" method="POST">
            {% csrf_token %}
            <label for="oldPassword">OldPassword</label>
            <input type="password" name="oldpassword" placeholder="password" class="form-control" required>
            <label for="password">NewPassword</label>
            <input type="password" name="newpassword" placeholder="newpassword" class="form-control" required   >
            <label for="confirmpassword">ConfirmPassword</label>
            <input type="password" name="confirmpassword" placeholder="confirmpassword" class="form-control" required>
            <div class="d-flex">
                <div class="form__login">
                    <input type="submit" value="Change" class="form__login__text">
                </div>
                <div class="form__login" style="margin-left: 5px;">
                    <a href="{% url 'signIn'%}">signIn</a>
                </div>
            </div>
            
        </form>
    </div>
</div>


{% endblock %}