{% extends 'accounts/base.html'%}
{% block body %}
<div class="form">
    <div class="form__heading">
        <h4>Administrations</h4>
    </div>

    <div class="form__content">
        <form action="{% url 'signIn' %}" method="POST">
            {% csrf_token %}
            <label for="username">Username</label>
            <input type="text" name="username" class="form-control" placeholder="username">
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="password" class="form-control">
            <div class="form__login">
                <input type="submit" value="login" class="form__login__text">
            </div>
        </form>
    </div>
</div>
{% endblock %}