{% extends 'dashboard/main.html'%}
{% block body%}
<div style="width: 100%;">
    <div class="search">

        <input type="text" class="search__product" placeholder="search by cusstomer" id="myInput">

    </div>
    <table class="table" id="tb">
        <tbody class="table__body">
            <thead class="table__heading">
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Conatct
                    </th>
                    <th>
                        Address
                    </th>

                    <th>
                        Edit</th>

                    <th>Delete</th>
                </tr>

            </thead>

            {% for cusstomer in customers%}
            <tr>

                <td>
                    {{cusstomer.name}}
                </td>
                <td>
                    {{cusstomer.email}}
                </td>
                <td>
                    {{cusstomer.contact}}
                </td>
                <td>
                    {{cusstomer.address}}
                </td>
                <td>
                    <a href="#" class="customer_update" data-pk="{{cusstomer.pk}}">
                        Edit
                    </a>
                </td>
                <td>
                    <span class="fa fa-arow" data-pk={{custmer.pk}}>Delete</span>
                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
    <div style="display: flex;justify-content: center;">
        <div class="paginator" style="">
            <span>
                {%if customers.has_previous%}
                <a href="?page={{customers.previous_page_number}}">Previous</a>
                {%endif%}
            </span>
            <span class='current'>
                page {{customers.number}} of {{customers.paginator.num_pages}}
            </span>
            <span>
                {%if customers.has_next%}
                <a href="?page={{customers.next_page_number}}">Next</a>
                {%endif%}
            </span>
        </div>
    </div>

</div>

<div class="container__right" id="container__right">
    {% include 'dashboard/modal_for_createCustomer.html'%}
</div>
<script>
    $(function () {
        $('.customer_update').click(function () {
            var pk = $(this).attr('data-pk')
            $.ajax({
                url: '/dashboard/customer/update/',
                type: 'get',
                data: { 'pk': pk },
                dataType: 'json',
                success: function (response) {
                    document.getElementById('container__right').innerHTML = response.modal_for_updateCustomer

                }
            })
        })


        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#tb tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    })

</script>

{% endblock %}