<!DOCTYPE html>
<html lang="en">

<head>

    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- link css file -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/product.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/modal_for_returnProduct.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/modal_for_UpdateReturnProduct.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/modal_for_createSale.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/purchaseProduct.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/modal_for_createProduct.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/modal_for_updateProduct.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/sale.css' %}">




    <script src="{% static 'js/modal_for_createProduct.js' %}"></script>
    <script src="{% static 'js/product.js' %}"></script>

    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- date picker -->
    
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    
    <script>
        $(function () {

            function getToken(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            const csrftoken = getToken('csrftoken');
            
        })
    </script>
</head>

<body>
    
    
    <!-- navbar -->

    <div class="navbar">
        
        <div class="logo">
            <h3>Stock</h3>
        </div>
       
        <div class="dropdown">
            <a href="#" data-toggle="dropdown">Welcome,{{request.user}}</a>
            <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="menu1">
                <li role="presentation"><a role="menuitem" href="{% url 'changePassword'%}">changepassword</a></li>
                <li role="presentation"><a role="menuitem" href="{% url 'logout'%}">logout</a></li>

            </ul>

        </div>



    </div>

    </div>
    <!-- container -->
    <div class="container-fluid">

        <div class="container__left sidebar">
            <ul class="nav menu">
                <li id="l1">
                    <a href="{% url 'dashboard' %}">
                        Dashoard
                    </a>
                </li>
                <li id="l2">
                    <a href="{% url 'product' %}">Products</a>
                </li>
                <li id="l3">
                    <a href="{% url 'suppliers'%}">Supplier</a>
                </li>
                <li id="l4"><a href="{% url 'purchase_product'%}">Purchase</a></li>
                <li id="l5">
                    <a href="{% url 'purchase_return'%}">PurchaseReturn</a>
                </li>
                <li id="l6">
                    <a href="{% url 'sale' %}">Sales</a>
                </li>
                <!-- <li>
                        <a href="{% url 'salesReturn' %}">SalesReturn</a>
                    </li> -->
                <li id="l7">
                    <a href="{% url 'customers'%}">Customers</a>
                </li>
                <li id="l8">
                    <a href="{% url 'stock'%}">Stock</a>
                </li>
            </ul>
        </div>

        <div class="container__body" style="display: flex;justify-content: space-evenly;width: 100%;" id="main">
            
            {% block body%}

            {% endblock %}

        </div>

    </div>

</body>
<script>
    $(function () {

        $("li").click(
            function (event) {

                var id = $(this).attr('id')
               
                localStorage.setItem("selectedolditem", id)
            }
        );

        var selectedolditem = localStorage.getItem('selectedolditem');
        if (selectedolditem != null) {
            $('#' + selectedolditem).siblings().find(".active").removeClass("active");
            //                       ^ you forgot this

            $('#' + selectedolditem).addClass("active");
        }

    })

</script>

</html>