
<div class="label_for_CU">
    <p>Create Supplier</p>
</div>
<form action="{% url 'suppliers' %}" method="POST" >
    {% csrf_token %}
<div class="form-group">  
    <label for="product">Name</label>
    <input type="text" name="supplier"  class="name form-control " id="name" required>
    <label for="Contact" class="Contact">Contact</label>
    <input type="text" name="contact"  class="Contact  form-control" id="Contact" required>
    <label for="select_supplier">Address</label>
    <input type="text" name="address"  class="address form-control " id="address" required>

        <div class="return_product">
            <button class="return_product_text">Create</button>
        </div>
     
</div>
   
</form>
<script>

   
</script>