
<div class="label_for_CU">
  <p>Return Product</p>
</div>
<form action="{% url 'purchase_return' %}" method="POST">
  {% csrf_token %}
  <label for="product">product</label>
  <div class="product__info">
      <div class="supplier__info">
          <select  id="selected_product" class="form-control" name="selected_product">
              <option value="none" selected='selected'>--select--</option>
              {% for read in products%}
              <option value="{{read.title}}">{{read.title}}</option>
             {% endfor %}
          </select>
      </div>   
      <div class="customer__add">
          <a class="customer__text" href="{% url 'product'%}">+</a>     
      </div>
        
  </div>
  <label for="quantity">quantity</label>
  <input type="text" class="form-control" id="quantity" name="quantity">
  <label for="customer">suppliers</label>

  <div class="customer__info">
      <div>
          <select  id="selected_customer" class="form-control" name="selected_supplier">
              <option value="none" selected='selected'>--select--</option>
              {% for read in suppliers%}
              <option value="{{read.name}}">{{read.name}}</option>
             {% endfor %}
          </select>
      </div>
     
      <div class="customer__add">
          <a class="customer__text" href="{% url 'suppliers'%}">+</a>
          
      </div>
  </div>
  
  <div class="return_product">
      <button class="return_product_text">Create</button>
  </div>
</form>
<script>
 
</script>