<div class="label_for_CU">
    <p>Create/Update Records</p>
</div>
<form action="{% url 'create'%}" method="POST" class="form">
    {% csrf_token %}
<div class="form-group">  
    <label for="product">Product Name</label>
    <input type="text" name="product"  class="product form-control " id="product" required>
    <label for="price" class="price">Price</label>
    <input type="text" name="price"  class="price form-control" id="price" required>
    
            <div class="Create_product">
            <button class="text">Create</button>
        </div>
     
    

</div>
   
</form>

<script>

   
</script>