{% extends 'dashboard/main.html'%}
{% block body%}
<div class="table" id="tb" style="width: 50%;">
    <div class="search" >
                    
        <input type="text" class="search__product" placeholder="search by product" id="myInput">

</div>
    <table class="table" id="tb">
        <tbody class="table__body">
            <thead class="table__heading">
                <tr>
                    <th>
                        Product
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Edit
                    </th>
                    <th>
                        Delete
                    </th>
            </thead>
    
            {% for item in items%}
            <tr>
    
                <td>
                    {{item.title}}
                     </td>
                     <td>
                        {{item.price}}
                         </td>
                                <td>
                                     <a href="#"  class="update" data-pk="{{item.pk}}" >
                                        Edit
                                     </a>
                                 </td>
                                 <td>
                                     <a href="#" class="delete" data-pk={{item.pk}}>Delete</a>
                                 </td>
            </tr>
            {% endfor %}
        </tbody>
        
    </table>
    
    <div style="display: flex;justify-content: center;">
        <div class="paginator" style="">
         <span>
         {%if items.has_previous%}
         <a href="?page={{items.previous_page_number}}">Previous</a>
         {%endif%}
         </span>
         <span class='current'>
         page {{items.number}} of {{items.paginator.num_pages}}
         </span>
         <span>
         {%if items.has_next%}
         <a href="?page={{items.next_page_number}}">Next</a>
         {%endif%}
        </span>
     </div> 
    </div>
</div>

<div  class="container__right" id="container__right">
                    
    {% include 'dashboard/modal_for_createProduct.html'%}
               
</div> 
 

<script>    
 
   
    
    $(function(){

        $('.delete').click(function(){
    $.ajax({
        url:'/dashboard/product/delete/',
        type:'get',
        data:{
            'pk':$(this).attr('data-pk')
        },
        success:function(response){
            console.log('deleted product')
        }
    })
})
$('.update').click(function(){
        console.log('update');
        $.ajax({
    url:'/dashboard/product/update/',
    type:'get',
    data:{'id':$(this).attr('data-pk')},
    dataType:'json',
    success:function(data){
        console.log(data);
        document.getElementById('container__right').innerHTML=data.modal_for_updateProduct
        document.getElementById('product').value=data.data.title
        document.getElementById('price').value=data.data.price
        document.getElementById('pk').value=data.data.pk   
    }
})
    })  

    })


    $(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#tb tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
  </script>
{% endblock %}
