{% extends 'dashboard/main.html'%}
{% block body%}

    <div style="width: 100%;">
        
        <div class="search">
                    
            <input type="text" class="search__product" placeholder="search by product">
    
            <input type="text" name="" id="" class="search__customer" placeholder="search by supplier">
        
            <input type="text" class="search__date  " placeholder="search by date">
       
    </div>
<table class="table" id="tb">
    <tbody class="table__body">
        <thead class="table__heading">
            <tr>
                <th>
                    Product
                </th>
                <th>
                    Price
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Supplier
                </th>
                <th>
                    Address
                </th>
                <th>
                    contact 
                </th>
                <th>
                    Edit</th>
                
                <th>Delete</th>
            </tr>
           
        </thead>

        {% for item in items%}
        <tr>

            <td>
                {{item.product.title}}
                 </td>
                 <td>
                    {{item.product.price}}
                     </td>
                     <td>
                        {{item.quantity}}
                         </td>
                         <td>
                            {{item.supplier.name}}
                             </td>
                             <td>
                                 {{item.supplier.address}}
                             </td>
                             <td>
                                 {{item.supplier.contact}}
                             </td>
                             <td>
                                 <a href="#"  class="update_return" data-pk="{{item.pk}}" >
                                    Edit
                                 </a>
                             </td>
                             <td>
                                 <span class="fa fa-arow" data-pk={{item.pk}}>Delete</span>
                             </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
        <div style="display: flex;justify-content: center;">
            <div class="paginator" style="">
             <span>
             {%if items.has_previous%}
             <a href="?page={{items.previous_page_number}}">Previous</a>
             {%endif%}
             </span>
             <span class='current'>
             page {{items.number}} of {{items.paginator.num_pages}}
             </span>
             <span>
             {%if items.has_next%}
             <a href="?page={{items.next_page_number}}">Next</a>
             {%endif%}
            </span>
         </div> 
        </div>
    </div>
<div  class="container__right" id="container__right">
                    
    {% include 'dashboard/modal_for_CreateReturnProduct.html'%}
               
</div> 
<script>
    $('.update_return').click(function(){
        $.ajax({
    url:'/dashboard/product/return/update',
    type:'get',
    data:{'id':$(this).attr('data-pk')},
    dataType:'json',
    success:function(data){
        console.log(data);
        document.getElementById('container__right').innerHTML=data.modal_for_UpdateReturnProduct
    
    }
})
    })
</script>

{% endblock %}
