{% extends 'dashboard/main.html'%}
{% block body%}

<div style="width: 100%;">
    
<table class="table" id="tb">
    <tbody class="table__body">
        <thead class="table__heading">
            <tr>
                <th>
                    Product
                </th>
                <th>
                    Price
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Customer
                </th>
                <th>
                    Address
                </th>
                <th>
                    Contact 
                </th>
                <th>
                    Email
                </th>
                <th>
                    Edit</th>
                
                <th>Delete</th>
            </tr>
           
        </thead>

        {% for item in salesReturn%}
        <tr>

            <td>
                {{item.product.title}}
                 </td>
                 <td>
                    {{item.product.price}}
                     </td>
                     <td>
                        {{item.quantity}}
                         </td>
                         <td>
                            {{item.customer.name}}
                             </td>
                             <td>
                                 {{item.customer.address}}
                             </td>
                             <td>
                                 {{item.customer.contact}}
                             </td>
                             <td>
                                 {{item.customer.email}}
                             </td>
                             <td>
                                 <a href="#"  class="update_sale_return" data-pk="{{item.pk}}" >
                                    Edit
                                 </a>
                             </td>
                             <td>
                                 <span class="fa fa-arow" data-pk={{item.pk}}>Delete</span>
                             </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
    <div style="display: flex;justify-content: center;">
        <div class="paginator" style="">
         <span>
         {%if salesReturn.has_previous%}
         <a href="?page={{salesReturn.previous_page_number}}">Previous</a>
         {%endif%}
         </span>
         <span class='current'>
         page {{salesReturn.number}} of {{salesReturn.paginator.num_pages}}
         </span>
         <span>
         {%if salesReturn.has_next%}
         <a href="?page={{salesReturn.next_page_number}}">Next</a>
         {%endif%}
        </span>
     </div> 
    </div>
</div>
<div  class="container__right" id="container__right">

{% include 'dashboard/modal_for_salesReturn.html'%}               
</div> 
<script>
$(function(){
    $('.update_sale_return').click(function(){
        var pk=$(this).attr('data-pk')
        $.ajax({
            url:'/dashboard/sales/return/update/',
            type:'get',
            data:{
                'pk':pk
            },
            dataType:'json',
            success:function(response){
                document.getElementById('container__right').innerHTML=response.modal_for_updateSaleReturn

            }
        })
    })
})
</script>
{% endblock %}