{% extends 'dashboard/main.html'%}

{% block body%}

<div style="width: 100%;">
    <div class="search">
       
        <form action="{%url 'search_pcd'%}" class="search" method="POST">
            {% csrf_token%}
            <input type="text" class="search__product" placeholder="search by product" id="product" name="product">

            <input type="text" name="customer" id="customer" class="search__customer" placeholder="search by customer">

            <input class="datepicker" id="datepicker" name="date">

            <input type="submit" style="display: none" />
          
           

        </form>

    </div>
    <table class="table" id="tb">
        <tbody class="table__body">
            <thead class="table__heading">
                <tr>
                    <th>
                        Product
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Quantity
                    </th>
                    <th>
                        Customer
                    </th>
                    <th>
                        Address
                    </th>
                    <th>
                        Contact
                    </th>
                    <th>
                        Email
                    </th>
                    <th>Date</th>
                    <th>
                        Edit</th>

                    <th>Delete</th>
                </tr>

            </thead>

            {% for item in sales%}
            <tr>

                <td>
                    {{item.product.title}}
                </td>
                <td>
                    {{item.product.price}}
                </td>
                <td>
                    {{item.quantity}}
                </td>
                <td>
                    {{item.customer.name}}
                </td>
                <td>
                    {{item.customer.address}}
                </td>
                <td>
                    {{item.customer.contact}}
                </td>
                <td>
                    {{item.customer.email}}
                </td>
                <td>{{item.crated_at|date:"Y/m/d" }}</td>
                <td>
                    <a href="#" class="update_sale" data-pk="{{item.pk}}">
                        Edit
                    </a>
                </td>
                <td>
                    <a href="{% url 'sale_delete' item.pk %}" class="sale_delete">
                        Delete
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div style="display: flex;justify-content: center;">
        <div class="paginator" style="">
            <span>
                {%if sales.has_previous%}
                <a href="?page={{sales.previous_page_number}}">Previous</a>
                {%endif%}
            </span>
            <span class='current'>
                page {{sales.number}} of {{sales.paginator.num_pages}}
            </span>
            <span>
                {%if sales.has_next%}
                <a href="?page={{sales.next_page_number}}">Next</a>
                {%endif%}
            </span>
        </div>
    </div>
</div>

<div class="container__right" id="container__right">

    {% include 'dashboard/modal_for_createSale.html'%}
</div>

<script>
    $(function () {
        $('.update_sale').click(function () {
            var pk = $(this).attr('data-pk')
            console.log(pk);
            $.ajax({
                url: '/dashboard/sale/update/',
                type: 'get',
                data: {
                    'pk': pk
                },
                dataType: 'json',
                success: function (response) {
                    document.getElementById('container__right').innerHTML = response.modal_for_updateSale

                }
            })
        })


        $('.datepicker').datepicker({
    format: 'yyyy/mm/dd',
    startDate: '-3d'
});

    })

</script>

{% endblock %}