{% extends 'dashboard/main.html'%}
{% block body%}

<div style="width: 100%;">
      
    <div class="search" >
                    
        <input type="text" class="search__product" placeholder="search by product" id="myInput">

</div>
<table class="table" id="tb">
    <tbody class="table__body">
        <thead class="table__heading">
            <tr>
                <th>
                    Product
                </th>
               
                <th>
                    Quantity
                </th>
                
            </tr>
           
        </thead>

        {% for item in items%}
        <tr>

            <td>
                {{item.name}}
                 </td>
                 <td>
                    {{item.quantity}}
                     </td>
                     
        </tr>
        {% endfor %}
    </tbody>
</table>
<script>
      $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#tb tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
</script>
{% endblock %}