{% extends 'dashboard/main.html'%}
{% block body%}

<div style="width: 100%;">
    <div class="search" >
                    
        <input type="text" class="search__product" placeholder="search by supplier" id="myInput">

</div>
<table class="table" id="tb" >
    <tbody class="table__body">
        <thead class="table__heading">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Contact
                </th>
                <th>
                    Address
                </th>
                <th>
                    Edit
                </th>
                <th>
                    Delete
                </th>
        </thead>

        {% for item in items%}
        <tr>

            <td>
                {{item.name}}
                 </td>
                 <td>
                    {{item.contact}}
                     </td>
                     <td>
                         {{item.address}}
                     </td>
                            <td>
                                 <a href="#"  class="update_supplier" data-pk="{{item.pk}}" >
                                    Edit
                                 </a>
                             </td>
                             <td>
                                 <a href="#" class="delete" data-pk={{item.pk}}>Delete</a>
                             </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
    <div style="display: flex;justify-content: center;">
        <div class="paginator" style="">
         <span>
         {%if items.has_previous%}
         <a href="?page={{items.previous_page_number}}">Previous</a>
         {%endif%}
         </span>
         <span class='current'>
         page {{items.number}} of {{items.paginator.num_pages}}
         </span>
         <span>
         {%if items.has_next%}
         <a href="?page={{items.next_page_number}}">Next</a>
         {%endif%}
        </span>
     </div> 
    </div>
</div>
<div  class="container__right" id="container__right">
                    
    {% include 'dashboard/modal_for_createSupplier.html'%}
               
</div> 


<script>    
 
 $(function(){
     $('.update_supplier').click(function(){
        var pk=$(this).attr('data-pk')
        console.log(pk);
        $.ajax({
            url:'/dashboard/supplier/update/',
            type:'get',
            data:{'pk':pk},
            dataType:'json',
            success:function(response){
                document.getElementById('container__right').innerHTML=response.modal_for_updateSupplier
            }
        })

     })
 })

 $(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#tb tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
  </script>
{% endblock %}
